body {
    background: #F2F2F2;
}

.container {
    background: white;
}

h1 {
    text-align: center;
}

h3 {
    margin-top: 50px;
}

h4 {
    text-align: center;
}

li {
    font-size: large;
}

#last-updated {
    text-align: center;
}