<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>

    <!-- Setting a meta viewport allows Bootstrap to optimize for mobile devices.
     setting the maximum-scale and user-scalable blocks scrolling on mobile devices.-->
    <meta name="viewport" content="width=device-width, initial-scale=1,
    maximum-scale=1, user-scalable=no">

    {#  Load bootstrap and FA locally; The CDN's not loading on gov computers; blocked?  #}
    <link rel="stylesheet"
          href="/static/font-awesome-4.4.0/css/font-awesome.min.css">

    <link rel="stylesheet"
          href="/static/bootstrap-3.3.5-dist/css/bootstrap.min.css"
          media="screen">

    <link href="/static/css/style.css" rel="stylesheet">

</head>
<body>
<div class="container">

    <div class="page-header">
        <h1>Lakenheath Links</h1>
        {#        Optional block for a link to the home screen.#}
        {% block home %}{% endblock %}
        {% if current_user.is_authenticated() %}
            <h5>Logged in as {{ current_user.email }}. <a href="
            {{ url_for('security.logout') }}">Logout</a></h5>
        {% endif %}
    </div>

    {% block content %}{% endblock %}
    <br>

    {# Use lakenheath.herokuapp.com/admin instead of /admin for SSL workaround. #}
    {#    <h5 id="last-updated"><a href="/admin">Admin</a></h5>#}
    <h5 id="last-updated"><a href="https://lakenheath.herokuapp.com/admin">Admin</a></h5>

</div>

{# Jquery version 1 for legacy IE support. #}
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
{#  Load bootstrap and FA locally; The CDN's not loading on gov computers; blocked?  #}
<script src="/static/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>

</body>
</html>