{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-8 col-md-offset-2 col-xs-12">

        <h4><a href="/">Home</a></h4>

        <p>An overview of areas to live</p>

        <h3>Cambridge</h3>

        <ul>
            <li>Most active metropolitan area in commuting distance</li>
            <li>Easy trips to london by train</li>
            <li>More nightlife and activities</li>
            <li>Skews younger and single</li>
        </ul>


        <h3>Bury St Edmunds</h3>
        <p>Similar commute time to Cambridge</p>

        <ul>
            <li>Active spouse community</li>
            <li>Larger houses and apartments</li>
            <li>Skews older and married</li>
        </ul>

        <h3>Newmarket</h3>
        <p>Newmarket is half way between Lakenheath and Cambridge; it offers a short
            drive to either.</p>


        <ul>
            <li>Short commute (15 minutes)</li>
            <li>Short drive to Cambridge, but parking will be difficult</li>

        </ul>
      </div>
</div>


{% endblock %}