{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col-md-8 col-md-offset-2 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Ops Resources</h2>
            </div>

            <div class="panel-body">

                <ul>
                    {% for link in ops_resources %}
                        <li><a href="{{ link.url }}">{{ link.title }}</a>
                            {% if link.cac_required %}
                                <i class="fa fa-credit-card"></i>
                            {% endif %}

                            {% if link.login_required %}
                                <i class="fa fa-key"></i>
                            {% endif %}

                            {% if link.gov_only %}
                                <i class="fa fa-fighter-jet"></i>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Base Services</h2>
            </div>

            <div class="panel-body">

                <ul>
                    {% for link in base_services %}
                        <li><a href="{{ link.url }}">{{ link.title }}</a>
                            {% if link.cac_required %}
                                <i class="fa fa-credit-card"></i>
                            {% endif %}

                            {% if link.login_required %}
                                <i class="fa fa-key"></i>
                            {% endif %}

                            {% if link.gov_only %}
                                <i class="fa fa-fighter-jet"></i>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Personal</h2>
            </div>

            <div class="panel-body">

                <ul>
                    {% for link in personal %}
                        <li><a href="{{ link.url }}">{{ link.title }}</a>
                            {% if link.cac_required %}
                                <i class="fa fa-credit-card"></i>
                            {% endif %}

                            {% if link.login_required %}
                                <i class="fa fa-key"></i>
                            {% endif %}

                            {% if link.gov_only %}
                                <i class="fa fa-fighter-jet"></i>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title"><del>Queep</del> Warrior Resources</h2>
            </div>

            <div class="panel-body">

                <ul>
                    {% for link in queep %}
                        <li><a href="{{ link.url }}">{{ link.title }}</a>
                            {% if link.cac_required %}
                                <i class="fa fa-credit-card"></i>
                            {% endif %}

                            {% if link.login_required %}
                                <i class="fa fa-key"></i>
                            {% endif %}

                            {% if link.gov_only %}
                                <i class="fa fa-fighter-jet"></i>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <h5><i class="fa fa-credit-card"></i> CAC required</h5>
        <h5><i class="fa fa-key"></i> Login required</h5>
        <h5><i class="fa fa-fighter-jet"></i> Work computer only</h5>
        <h5>* To access SURF, click the link → 'OK' → 'AMS' →
            'Personal Information' → 'My Career Brief'</h5>
    </div>
</div>

{% endblock %}
