{% extends "base.html" %}

{% block content %}
    <h4><a href="/">Home</a></h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Callsign</th>
            <th>Email</th>
            <th>Phone (44+)</th>
        </tr>
    </thead>
    <tbody>
        {% for panther in panthers %}
        <tr>
            <td>{{ " ".join([panther.first_name, panther.last_name])}}</td>
            <td>{{ panther.callsign }}</td>
            <td><a href="mailto:{{ panther.email }}">{{ panther.email }}</a></td>
            {# Indexing out the first two chars removes the UK country code. #}
            <td><a href="tel:+{{ panther.phone }}">{{ panther.phone[2:] }}</a></td>
        </tr>
        {% endfor %}
    </tbody>

</table>
{% endblock %}